nav{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    height: 70px;
    margin: auto;
    padding: 0px 10px;
    font-size: 20px;
    border-bottom: 5px solid #d7d7d7;
}

nav h1 {
    margin: 0;
    justify-self: center;
    grid-column: 2 / 3;
}

span {
    grid-column: 3 / 4;
    justify-self: end;
}